div#controller {
  width: 100%;
  height: 100%;
  background-color: #BBB;

  #virtualjoystick {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .headline {
    position: absolute;
    width: 100%;
    top: 0px;
    h1 {
      text-align: center;
      color: red;
      font-family: Courier;
    }
  }

}
